# Node
frontend/node_modules/
frontend/build/

# Python
backend/__pycache__/
*.pyc
.env
venv/

# Do NOT ignore backend/model — needed for Hugging Face
# model/*.keras   ← remove this line
# model/*.pkl     ← remove this line

# System
.DS_Store
Thumbs.db